snippet fb "Debugger Helper"
IO.inspect(String.duplicate("*.*", 25))
IO.inspect($1)
IO.inspect(String.duplicate("*.*", 25))
endsnippet

snippet bt "Belongs to" b
belongs_to :${1:module}, ${1/\w+\s*/\u$0/g}
endsnippet

snippet hm "Has Many" b
has_many :${1:module}, ${1/\w+\s*/\u$0/g}
endsnippet
