snippet df "def"
def ${1:method_name}
  ${0}
end
endsnippet

snippet fb "Debugger Helper"
#
puts '#' * 90
puts ${0}
puts '#' * 90
#
endsnippet

snippet sop "Capybara save and open"
save_and_open_page
endsnippet
